<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'forms', :plugin => 'awesome_manuals' %>
<% end %>

<div class="box">
	<% form_for [@manual, @chapter] do |f| %>
		
		<div class = "control-group">
			<%= f.label :use_custom_title, t(:field_use_custom_title), :class => "control-label" %>			
			<%= f.check_box :use_custom_title, :class => "pretty_checkbox" %><br>
		</div>

		<div class = "control-group">
			<%= f.label :custom_title, t(:field_custom_title), :class => "control-label" %>
			<%= f.text_field :custom_title, :size => 100 %>
		</div>

		<div class = "control-group">
			<%= f.label :paste_content, t(:field_paste_content), :class => "control-label" %>			
			<%= f.check_box :paste_content, :class => "pretty_checkbox" %><br>
		</div>
		
		<div class = "control-group">
			<%= f.label :wiki_page_id, t(:field_wiki_page), :class => "control-label"%>
			<div>
				<%= f.select :wiki_page_id, options_from_collection_for_select(@wiki_pages, :id, :title, @chapter.wiki_page_id), {:include_blank => true} %>
			</div>			
		</div>

		<div class = "control-group">			
			<%= f.label :parent_chapter_id, t(:field_parent_chapter), :class => "control-label" %>			
			<%= f.select :parent_chapter_id, nested_set_options(@chapter.possible_parents, nil) {|i| "#{'-' * i.level}#{i.title}" }, {:include_blank => true} %>				
		</div>

		<%= f.submit l(:button_save) %>
	<% end %> 
</div>